<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ExpressGeneratorTypeScriptApp</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <p>This is an API to translate english-language phrases to Pig Latin.</p>
    <h2>There is one Route.</h2>
    <p>
      <code>POST /api/phrases/piglatin</code>: accepts a json object with the
      key <code>phrase</code> with a value consisting only of alphabetic
      characters and spaces.
    </p>
    <p>Sample request body:</p>
    <p>
      <code>{ "phrase": "The rain in Spain falls mainly on the plain" }</code>
    </p>
    <p>Sample response body:</p>
    <p>
      <code>
        "fullPhrase": {
        <br />
        "original": "The rain in Spain falls mainly on the plain",
        <br />
        "pigLatin": "Hetay ainray inway Painsay allsfay ainlymay onway hetay
        lainpay"
        <br />

        }
      </code>
    </p>
  </body>
</html>
